/* hovercards.module.css */

.body {
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  height: 200vh;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  color: #8f8f8f;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 1280px;
  width: calc(100% - 20px);
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 400px;
  flex-direction: column;
  position: relative;
  width: 300px;
  border: 0.2px solid gray;
}

.card:hover::before {
  opacity: 0;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.cards:hover .card::before,
.cards:hover .card::after {
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.01),
    transparent 40%
  );

  z-index: 4;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.15),
    transparent 40%
  );
  z-index: 1;
}

.card-content {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background-color: transparent;
}

.innerImageWrapper {
  position: relative;
  border-radius: inherit;
  overflow: hidden;
  filter: grayscale(100%);
  transition: filter 300ms;
  background-color: transparent;
}

.card:hover .innerImageWrapper {
  filter: grayscale(0%);
}

.textBetween {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Make sure it takes up the full width of the card */
}

/* ... Existing styles ... */

.blurredImage {
  top: 0;
  left: 0;
  z-index: 0;
  filter: blur(10px);
  border-radius: 10px;
  transition: opacity 0.3s ease;
}
.card:hover .blurredImage {
  opacity: 1;
}

.topContainer {
  position: relative;
  width: 300px;
  height: 300px;
}

.bottomContainer {
  padding: 10px; /* Add some padding around text */
}

.blurredImageWrapper {
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  filter: grayscale(100%);
}

.card:hover .blurredImageWrapper {
  opacity: 1;
  filter: grayscale(0%);
}

/* Image Style */
.actualImage {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 270px;
  height: 270px;
  z-index: 2;
  border-radius: 0.25rem;
  transition: 300ms;
}

.card:hover .actualImage {
  scale: 1.05;
  transition: 300ms;
}

.bottomContainer {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;

  /* ...other styles if needed... */
}
